.yugi-card {
  background-color: transparent;
  width: 10rem;
  height: 19rem;
  perspective: 1000px;
}

.yugi-card-inner {
  width: 100%;
  height: 100%;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.card-header {
  display: flex;
  padding: 0.5rem;
  border-radius: 5px;
  background: transparent; /* Fondo, debe ser más claro que el borde */
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  font-size: x-small;
  align-items: center;
  justify-content: space-between;
  font-weight: 700;
  color: #ffd700;
  text-shadow: 1px 0 0 rgb(122, 85, 51);
}

.typeImg {
  max-width: 1rem;
  justify-self: flex-end;
}

.levelContainer {
  display: flex;
  justify-content: flex-end;
}

.starImg {
  display: flex;
  align-self: flex-end;
  margin: 0 0 0.5rem 2px;
  max-width: 0.7rem;
}

.flipped {
  transform: rotateY(180deg);
}

.yugi-card-front,
.yugi-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border: 4px solid rgb(82, 80, 80);
  margin: 0px;
}

.yugi-card-front {
  background-image: url("../../assets/images/front-background.jpg");
  color: black;
  display: flex;
  flex-direction: column;
  
}

.card-content {
  display: flex;
  flex-direction: column;
  padding: 0 16px;
}

.mainImg {
  border: 5px solid #7b747e;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  border-radius: 5px;
  width: 100%;
  height: 8rem;
}

.imgLabels {
  display: flex;
  justify-content: space-between;
}
.imgLabels p {
  font-size: 0.3rem !important;
}

.cardDescription {
  display: flex;
  flex-direction: column;
  border: 3px solid #ac734a;
  background-color: rgba(255, 255, 255, 0.8);
  margin: 0;
  width: 100%;
  height: 5rem;
  color: black;
}

.descriptionType { 
  font-size: 0.4rem !important;
  font-weight: 700 !important;
}

.description {
  margin: 0 0 0 1px!important;
  font-size: 0.4rem !important;
  font-style: italic !important;
}

.stats {
  display: flex;
  justify-content: flex-end;
  margin: 0;
  height: 100%;
  width: 100%;
  align-items:flex-end;
  flex-direction: column;
}

.stats hr{
  width: 100%;               
  background-color:#000000;
  height: 0.5px;
  margin: 0;
}

.stats p {
  font-size: 0.4rem !important;
  margin: 0.2rem 0 0 0!important;
}

.imgFooters {
  display: flex;
  justify-content: space-between;
}
.imgFooters p {
  font-size: 0.3rem !important;
}

.yugi-card-back {
  background-image: url("../../assets/images/background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  transform: rotateY(180deg);
}
